/* About Page Styles */

.about-content {
    padding: 20px; /* Add padding around the whole section */
     /* Consistent font */
}

.about-header {
    text-align: center;
    margin-bottom: 20px;
}

.about-header h1 {
    font-size: 2em; /* Adjust as needed */
    margin-bottom: 10px;
}

.about-header p {
    font-size: 1.1em;
    color: #555; /* A slightly muted color */
}

.about-amounts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.amount {
    text-align: center;
}

.amount h2 {
    font-size: 5.5rem; /* Adjust as needed */
    color: #b96230;
    margin-bottom: 5px;
}

.amount p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #777;
}

.about-description {
    text-align: center;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.learnbutton {
    background-color: #432220; /* Dark brown button background */
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    position: relative;   /* Make sure position is relative */
    top: 10px;            /* Move the button down 10px */
    display: inline-block; /* Important: Treat like a block element */
    text-decoration: none; /* Remove underline from the link */
}

.learnbutton:hover {
    background: black;
}
.button:hover {
    background: black;
}

/* Officer Grid */
  .officer-title {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #77543f;
    text-align: center; /* Center the title and subtitle */
    position: relative;
  }
  

.officer-title h1 {
    font-size: 2.5em; /* Larger font size for better emphasis */
    font-weight: bold;
    color: white;
}

.officer-title p {
    font-size: 1.2em;
    color: white; /* Slightly muted color */
}

.officer-cards-line1{
    padding: 40px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.officer-cards-line2 {
    padding: 40px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

  
  .officer-card {
    padding: 10px 10px 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
  }
  
  .officer-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits well */
  }
  
  .officer-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .officer-card p {
    margin: 5px;
    font-size:1rem;
  }
