* {
    box-sizing: border-box;
    font-family: 'Host Grotesk', Courier, monospace;
}

.calender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #77543f;
    padding: 40px;
}

.calender-container h1 {
    font-size: 2.5rem;
    margin: 20px;
    padding: 0;
    color: white;
}

.calender-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
    max-width: 1200px;
    max-height: 800px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add custom styles for calendar background */
.calender-container iframe {
    background-color: rgba(212, 200, 190, 0.8) !important;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .calender-container iframe {
        min-height: 500px;
        margin-bottom: 20px;
    }
    
    .calender-container h1 {
        font-size: 2rem;
    }

    .calender-container {
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    .calender-container {
        padding: 20px;
    }

    .calender-container iframe {
        min-height: 400px;
        margin-bottom: 20px;
    }
}
