* {
    box-sizing: border-box;
    margin: 0;
    Padding: 0;
    font-family: 'Host Grotesk', Courier, monospace;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e4d4;
}

.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #bd724a;
}

.contact-info {
    max-width: 400px;
    margin-right: 50px;
}

.contact-info h1 {
    font-size: 2rem;
    color: #2e1f15;
}

.contact-info p {
    margin: 10px 0;
    color: #2e1f15;
}

.contact-info a {
    text-decoration: none;
    color: #2e1f15;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-icons img {
    width: 24px;
}

.social-icons a {
    font-size: 36px;
    margin: 0 15px;
    color: #2e1f15;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icons a:hover {
    color: #bd724a;
}

.contact-form {
    max-width: 500px;
    width: 70%;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    color: #2e1f15;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
}

.contact-form button {
    background-color: #6c584c;
    color: #f4e4d4;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.contact-form button:focus {
    outline: none;
}

.contact-form input,
.contact-form textarea {
    border: solid #6c584c thin;
    background-color: #f4e4d4;
    color: #2e1f15;
}

.contact-form button:hover {
    background-color: #2e1f15;
    color: #f4e4d4;
}